<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<form method="POST" action="{% url 'service_auth_jwt:authentication' %}">
    {% csrf token %}
    <label for="username">username</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">password</label>
    <input type="text" id="password" name="password" required>
    <br>
    <input type="submit" value="authentication">
</form>

</body>
</html>